[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"

[dev-packages]
black = "*"
pylint = "*"
pyright = "*"
pytest-pyright = "*"
python-dotenv = {extras = ["cli"], version = "*"}

[requires]
python_version = "3.10"
